////
/// These are the main colors
/// @group Global colors
/// @author Digital CX
////

/// Green
$sebvi-color-green: #60cd18;

/// Dark Green 1
$sebvi-color-darkgreen1: #45b400;

/// Dark Green 2
$sebvi-color-darkgreen2: #379d00;

/// Yellow
$sebvi-color-yellow: #ffc500;

/// Dark Yellow 1
$sebvi-color-darkyellow1: #ffb400;

/// Dark Yellow 2
$sebvi-color-darkyellow2: #f8a000;

/// Purple
$sebvi-color-purple: #673ab6;

/// Dark Purple 1
$sebvi-color-darkpurple1: #4f2c99;

/// Dark Purple 2
$sebvi-color-darkpurple2: #3f2587;

/// Red
$sebvi-color-red: #f03529;

/// Dark Red 1
$sebvi-color-darkred1: #d81a1a;

/// Dark Red 2
$sebvi-color-darkred2: #bb000c;


/// Light Blue
$sebvi-color-light-blue: #D9EFFC;

/// Blue
$sebvi-color-blue: #41b0ee;

/// Dark Blue 1
$sebvi-color-darkblue1: #0092e1;

/// Dark Blue 2
$sebvi-color-darkblue2: #007ac7;

/// White
$sebvi-color-white: #fff;

/// Black
$sebvi-color-black: #000;

/// Grey 1
$sebvi-color-grey1: #1a1a1a;

/// Grey 2
$sebvi-color-grey2: #333;

/// Grey 3
$sebvi-color-grey3: #4d4d4d;

/// Grey 4
$sebvi-color-grey4: #666;

/// Grey 5
$sebvi-color-grey5: #808080;

/// Grey 6
$sebvi-color-grey6: #999;

/// Grey 7
$sebvi-color-grey7: #b3b3b3;

/// Grey 8
$sebvi-color-grey8: #e6e6e6;

/// Grey 9
$sebvi-color-grey9: #f6f6f6;

/// Default text color
$sebvi-color-text: $sebvi-color-grey2;

/// Link
$sebvi-color-link: $sebvi-color-darkblue2;

/// Link hover
$sebvi-color-link-hover: $sebvi-color-link;

/// Link visited
$sebvi-color-link-visited: $sebvi-color-darkpurple2;
