<mat-card>
  <mat-card-header>
    <mat-card-title>Buttons</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <h3>Raised Buttons</h3>
    <div class="example-button-row">
      <button mat-raised-button color="primary">Primary Button</button>
      <button mat-raised-button>Basic</button>
      <button mat-raised-button color="accent">Accent</button>
      <button mat-raised-button color="warn">Warn</button>
      <button mat-raised-button color="secondary">Secondary Button</button>
      <button mat-raised-button color="secondary" disabled>Secondary Button</button>
    </div>

    <h3>Flat Buttons</h3>
    <div class="example-button-row">
      <button mat-flat-button color="primary">Primary Button</button>
      <button mat-flat-button>Basic</button>
      <button mat-flat-button color="accent">Accent</button>
      <button mat-flat-button color="warn">Warn</button>
      <button mat-flat-button color="secondary">Secondary Button</button>
      <button mat-flat-button color="secondary" disabled>Secondary Button</button>
    </div>

    <h3>Stroked Buttons light</h3>

    <div class="example-code">color="light"</div>

    <div class="example-button-row light-background">
      <button mat-stroked-button color="light">Light</button>
      <button mat-stroked-button color="light" disabled>Light</button>
    </div>

    <h3>Stroked Buttons dark</h3>

    <div class="example-code">color="dark"</div>


    <div class="example-button-row dark-background">
      <button mat-stroked-button color="dark">Dark</button>
      <button mat-stroked-button color="dark" disabled>Dark</button>
    </div>

  </mat-card-content>
  <mat-card-actions>
    <a href="https://material.angular.io/components/button/overview" mat-button target="_blank">More examples</a>
  </mat-card-actions>
</mat-card>
