<mat-card>
  <mat-card-header>
    <mat-card-title>Buttons</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <button mat-raised-button color="primary">Primary Button</button>
    <button mat-raised-button>Basic</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button color="secondary">Secondary Button</button>
    <button mat-raised-button color="secondary" disabled>Secondary Button</button>
  </mat-card-content>
  <mat-card-actions>
    <a href="https://material.angular.io/components/button/overview" mat-button target="_blank">More examples</a>
  </mat-card-actions>
</mat-card>