app-button-demo {
  .mat-raised-button, .mat-flat-button {
    margin-bottom: 0.3em;
  }
  .mat-raised-button, .mat-flat-button {
    margin-right: 0.5em;
  }

  .mat-stroked-button {
    margin-left: 0.5em;
    margin-bottom: 1em;
    margin-top: 1em;
  }

  .dark-background{
    background: #FFC500;
  }

  .light-background{
    background: #0092E1;
  }
}
