app-button-demo {

  button,
  a {

    &.mat-raised-button,
    &.mat-flat-button,
    &.mat-stroked-button {
      margin-bottom: 0.5em;
      margin-right: 0.5em;
      margin-top: 0.5em;
    }
  }

  .mat-stroked-button,
  .mat-button-toggle-group {
    margin-left: 0.5em;
    margin-bottom: 1em;
  }

  .dark-background {
    background: #FFC500;
  }

  .light-background {
    background: #0092E1;
  }

}
