body {


  .mat-button,
  .mat-raised-button,
  .mat-flat-button,
  .mat-stroked-button,
  .mat-button-toggle-group,
  .mat-button-toggle-focus-overlay {
    height: 44px;
    line-height: 40px;
    min-height: 40px;
  }

  .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: 44px;
  }

  .mat-raised-button,
  .mat-fab,
  .mat-flat-button,
  .mat-mini-fab {
    &.mat-secondary {
      color: $vanilla-color-darkblue1;

      &:active,
      &:hover {
        background: $vanilla-color-blue;
        color: $vanilla-color-white;
      }
    }
  }

  .mat-raised-button,
  .mat-flat-button {
    border-radius: .25em;
    padding: 0 1em;
    border: 1px solid transparent;

    &[color="secondary"] {
      border-color: $vanilla-color-darkblue1;

      &[disabled] {
        border-color: $vanilla-color-grey7;
        background-color: $vanilla-color-grey9;
        color: $vanilla-color-grey6;

        &:active,
        &:hover {
          background-color: $vanilla-color-grey9;
          color: $vanilla-color-grey6;
          border-color: $vanilla-color-grey7;
        }
      }
    }
  }

  .mat-stroked-button[color="light"] {
    border-radius: .25em;
    padding: 0 1em;
    border: 1px solid $vanilla-color-white;
    color: $vanilla-color-white;

    &:active,
    &:hover {
      background-color: $vanilla-color-white;
      color: $vanilla-color-grey2;
      border-color: $vanilla-color-white;
    }

    &[disabled] {
      border-color: $vanilla-color-grey8;
      background-color: transparent;
      color: $vanilla-color-grey8;
    }
  }

  .mat-stroked-button[color="dark"] {
    border-radius: .25em;
    padding: 0 1em;
    color: $vanilla-color-grey2;
    border: 1px solid $vanilla-color-grey2;

    &:active,
    &:hover {
      background-color: $vanilla-color-grey2;
      color: $vanilla-color-white;
      border-color: $vanilla-color-grey2;
    }

    &[disabled] {
      border-color: $vanilla-color-grey7;
      background-color: transparent;
      color: $vanilla-color-grey7;
    }
  }

  mat-button-toggle-group[color="primary"] {

    &.mat-button-toggle-standalone.mat-button-toggle-appearance-standard,
    &.mat-button-toggle-group-appearance-standard {
      border: 1px solid $vanilla-color-darkblue1;
    }

    .mat-button-toggle {
      background-color: $vanilla-color-white;
      color: $vanilla-color-darkblue1;
      border-left: 1px solid $vanilla-color-darkblue1 !important;
      border-right: 1px solid $vanilla-color-darkblue1 !important;

      &:not(:first-child) {
        border-right: none !important;
      }

      &:not(:last-child) {
        border-left: none !important;
      }

      &[disabled] {
        background-color: $vanilla-color-grey9;
        color: $vanilla-color-grey7;
        border: 1px solid $vanilla-color-grey7;
      }

      &.mat-button-toggle-checked {
        background-color: $vanilla-color-darkblue1;
        color: $vanilla-color-white;
      }

      &.mat-button-toggle-disabled {
        background-color: $vanilla-color-grey9;
        color: $vanilla-color-grey7;

        &.mat-button-toggle-checked {
          background-color: $vanilla-color-darkblue1;
          border: 1px solid $vanilla-color-darkblue1;
          color: $vanilla-color-white;
        }
      }
    }
  }

  mat-button-toggle-group[color="green"] {
    .mat-button-toggle {
      background-color: $vanilla-color-white;
      color: $vanilla-color-darkgreen2;
      border: 1px solid $vanilla-color-darkgreen2;

      &:not(:first-of-type) {
        border-left: none;
      }

      &[disabled] {
        background-color: $vanilla-color-grey9;
        color: $vanilla-color-grey7;
        border: 1px solid $vanilla-color-grey7;
      }

      &.mat-button-toggle-checked {
        background-color: $vanilla-color-darkgreen2;
        color: $vanilla-color-white;
      }
    }

    &[disabled] {
      .mat-button-toggle {
        background-color: $vanilla-color-grey9;
        color: $vanilla-color-grey7;
        border: 1px solid $vanilla-color-grey7;

        &.mat-button-toggle-checked {
          background-color: $vanilla-color-darkgreen2;
          border: 1px solid $vanilla-color-darkgreen2;
          color: $vanilla-color-white;
        }
      }
    }
  }

}
