body {

    .mat-button,
    .mat-raised-button,
    .mat-flat-button,
    .mat-stroked-button,
    .mat-button-toggle-group,
    .mat-button-toggle-focus-overlay {
        height: 44px;
        line-height: 44px;
        min-height: 44px;
    }

    .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
        line-height: 44px;
    }

    .mat-raised-button,
    .mat-fab,
    .mat-mini-fab {
        &.mat-secondary {
            color: $sebvi-color-darkblue1;

            &:active,
            &:hover {
                background: $sebvi-color-blue;
                color: $sebvi-color-white;
            }
        }
    }

    .mat-raised-button {
        border-radius: .25em;
        padding: 0 1em;
        border: 1px solid transparent;

        &[color="secondary"] {
            border-color: $sebvi-color-darkblue1;

            &[disabled] {
                border-color: $sebvi-color-grey7;
                background-color: $sebvi-color-grey9;
                color: $sebvi-color-grey6;

                &:active,
                &:hover {
                    background-color: $sebvi-color-grey9;
                    color: $sebvi-color-grey6;
                    border-color: $sebvi-color-grey7;
                }
            }
        }
    }

    .mat-stroked-button[color="light"] {
        border-radius: .25em;
        padding: 0 1em;
        border: 1px solid $sebvi-color-white;
        color: $sebvi-color-white;

        &:active,
        &:hover {
            background-color: $sebvi-color-white;
            color: $sebvi-color-grey2;
            border-color: $sebvi-color-white;
        }

        &[disabled] {
            border-color: $sebvi-color-grey8;
            background-color: transparent;
            color: $sebvi-color-grey8;
        }
    }

    .mat-stroked-button[color="dark"] {
        border-radius: .25em;
        padding: 0 1em;
        color: $sebvi-color-grey2;
        border: 1px solid $sebvi-color-grey2;

        &:active,
        &:hover {
            background-color: $sebvi-color-grey2;
            color: $sebvi-color-white;
            border-color: $sebvi-color-grey2;
        }

        &[disabled] {
            border-color: $sebvi-color-grey7;
            background-color: transparent;
            color: $sebvi-color-grey7;
        }
    }

    mat-button-toggle-group[color="primary"] {

        &.mat-button-toggle-standalone.mat-button-toggle-appearance-standard,
        &.mat-button-toggle-group-appearance-standard {
            border: 1px solid $sebvi-color-darkblue1;
        }

        .mat-button-toggle {
            background-color: $sebvi-color-white;
            color: $sebvi-color-darkblue1;
            border-left: 1px solid $sebvi-color-darkblue1 !important;
            border-right: 1px solid $sebvi-color-darkblue1 !important;

            &:not(:first-child) {
                border-right: none !important;
            }

            &:not(:last-child) {
                border-left: none !important;
            }

            &[disabled] {
                background-color: $sebvi-color-grey9;
                color: $sebvi-color-grey7;
                border: 1px solid $sebvi-color-grey7;
            }

            &.mat-button-toggle-checked {
                background-color: $sebvi-color-darkblue1;
                color: $sebvi-color-white;
            }

            &.mat-button-toggle-disabled {
                background-color: $sebvi-color-grey9;
                color: $sebvi-color-grey7;

                &.mat-button-toggle-checked {
                    background-color: $sebvi-color-darkblue1;
                    border: 1px solid $sebvi-color-darkblue1;
                    color: $sebvi-color-white;
                }
            }
        }

    }

    mat-button-toggle-group[color="green"] {
        .mat-button-toggle {
            background-color: $sebvi-color-white;
            color: $sebvi-color-darkgreen2;
            border: 1px solid $sebvi-color-darkgreen2;

            &:not(:first-of-type) {
                border-left: none;
            }

            &[disabled] {
                background-color: $sebvi-color-grey9;
                color: $sebvi-color-grey7;
                border: 1px solid $sebvi-color-grey7;
            }

            &.mat-button-toggle-checked {
                background-color: $sebvi-color-darkgreen2;
                color: $sebvi-color-white;
            }
        }

        &[disabled] {
            .mat-button-toggle {
                background-color: $sebvi-color-grey9;
                color: $sebvi-color-grey7;
                border: 1px solid $sebvi-color-grey7;

                &.mat-button-toggle-checked {
                    background-color: $sebvi-color-darkgreen2;
                    border: 1px solid $sebvi-color-darkgreen2;
                    color: $sebvi-color-white;
                }
            }
        }
    }

}