body {


  .mat-button,
  .mat-raised-button,
  .mat-flat-button,
  .mat-stroked-button,
  .mat-button-toggle-group,
  .mat-button-toggle-focus-overlay {
    height: 44px;
    min-height: 44px;
    line-height: 44px;
    font-size: 16px;

    .mat-button-wrapper {

      .mat-icon {
        width: 16px;
        height: 16px;

        &:not(:only-child) {
          margin-right: 10px;
        }
      }

      .mat-icon,
      span {
        vertical-align: baseline;
      }

    }
  }

  .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: 44px;
  }

  .mat-raised-button,
  .mat-fab,
  .mat-flat-button,
  .mat-mini-fab,
  mat-button-toggle-group[color="primary"]:not([aria-disabled=true]) {

    &.mat-secondary,
    .mat-button-toggle:not(.mat-button-toggle-checked) {
      color: $vanilla-color-darkblue1;

      &:active,
      &:hover {
        background: $vanilla-color-blue;
        color: $vanilla-color-white;
      }
    }
  }

  .mat-raised-button,
  .mat-flat-button {
    border-radius: .25em;
    padding: 0 1em;
    border: 1px solid transparent;

    &[color="secondary"] {
      border-color: $vanilla-color-darkblue1;

      &[disabled] {
        border-color: $vanilla-color-grey7;
        background-color: $vanilla-color-grey9;
        color: $vanilla-color-grey6;

        &:active,
        &:hover {
          background-color: $vanilla-color-grey9;
          color: $vanilla-color-grey6;
          border-color: $vanilla-color-grey7;
        }
      }
    }
  }

  .mat-stroked-button[color="light"] {
    border-radius: .25em;
    padding: 0 1em;
    border: 1px solid $vanilla-color-white;
    color: $vanilla-color-white;

    &:active,
    &:hover {
      background-color: $vanilla-color-white;
      color: $vanilla-color-grey2;
      border-color: $vanilla-color-white;
    }

    &[disabled] {
      border-color: $vanilla-color-grey8;
      background-color: transparent;
      color: $vanilla-color-grey8;
    }
  }

  .mat-stroked-button[color="dark"] {
    border-radius: .25em;
    padding: 0 1em;
    color: $vanilla-color-grey2;
    border: 1px solid $vanilla-color-grey2;

    &:active,
    &:hover {
      background-color: $vanilla-color-grey2;
      color: $vanilla-color-white;
      border-color: $vanilla-color-grey2;
    }

    &[disabled] {
      border-color: $vanilla-color-grey7;
      background-color: transparent;
      color: $vanilla-color-grey7;
    }
  }

  mat-button-toggle-group[color="primary"]:not([aria-disabled=true]) {

    &.mat-button-toggle-standalone.mat-button-toggle-appearance-standard,
    &.mat-button-toggle-group-appearance-standard {
      border: 1px solid $vanilla-color-darkblue1;
    }

    .mat-button-toggle {
      background-color: $vanilla-color-white;
      color: $vanilla-color-darkblue1;
      border-left: 1px solid $vanilla-color-darkblue1 !important;
      border-right: 1px solid $vanilla-color-darkblue1 !important;
      border-right: none !important;

      &:first-child {
        border-left: none !important;
      }

      &[disabled] {
        background-color: $vanilla-color-grey9;
        color: $vanilla-color-grey7;
        border: 1px solid $vanilla-color-grey7;
      }

      &.mat-button-toggle-checked {
        background-color: $vanilla-color-darkblue1;
        color: $vanilla-color-white;
      }
    }
  }

}
