body {
  .mat-datepicker-content .mat-calendar {
    height: 360px;

    button.mat-calendar-period-button.mat-button {
      height: 44px;
      line-height: 44px;
      min-height: 44px;
    }
  }

}


// datepicker input icon position fix for **IE11**
@media all and (-ms-high-contrast:none) {
  _:-ms-fullscreen, :root .mat-form-field:not(.no-seb-style) .mat-form-field-suffix .mat-icon-button {
    margin-top: -30px;
  }
} 