.mat-accordion .mat-expansion-panel:not(.no-seb-style) {
  &:first-of-type {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }

  &:last-of-type {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.mat-expansion-panel:not(.no-seb-style) {

  &:not(.no-seb-borders) {
    box-shadow: none;
    border-top: 1px solid $vanilla-color-grey8;
    border-radius: 0;

    &:last-of-type {
      border-bottom: 1px solid $vanilla-color-grey8;
    }

    &.mat-expansion-panel-spacing {
      margin: 0;
    }
  }

  .mat-expansion-panel-body {
    font-size: 14px;
    font-weight: 400;
  }

  .mat-expansion-panel-header {
    position: relative;

    &::after {
      border-style: solid;
      border-width: 0 2px 2px 0;
      content: '';
      display: flex;
      position: absolute;
      left: 1.3em;
      top: 15px;
      padding: 5px;
      transform: rotate(45deg);
      transition: top 0.4s, transform 0.4s;
      vertical-align: middle;
      color: $vanilla-color-blue;
    }

    &.mat-expanded {
      &::after {
        top: 28px;
        transform: rotate(-135deg);
      }
    }

    .mat-expansion-panel-header-title {
      padding-left: 1.5em;
      font-size: 20px;
      font-weight: 800;
    }

    .mat-expansion-indicator {
      display: none;
    }
  }
}
