.mat-select:not(.no-seb-style) {
  div.mat-select-arrow-wrapper {
    div.mat-select-arrow {
      border-left: 0px none;
      border-top: 0px none;
      border-right: 2px solid;
      border-bottom: 2px solid;
      padding: 5px;
      transform: rotate(45deg);
      color: $vanilla-color-blue;
      margin: 0 5px;
    }
  }
}

mat-form-field.mat-paginator-page-size-select {
  &:not(.no-seb-style) .mat-select .mat-select-arrow {
    padding: 3px;
  }
}
