body {

  .mat-header-cell {
    font-size: 1rem;
    font-weight: 500;
    color: $vanilla-color-grey800;

    &:hover .mat-sort-header-arrow {
      color: $vanilla-color-blue;
    }

    &[aria-sort="descending"] .mat-sort-header-arrow,
    &[aria-sort="ascending"] .mat-sort-header-arrow {
      color: $vanilla-color-darkblue2;
    }

    .mat-sort-header-arrow {
      color: $vanilla-color-grey300;
      opacity: 1 !important;

      .mat-sort-header-stem {
        display: none;
      }

    }

  }
}
