body {

  .mat-form-field-appearance-outline {

    div.mat-form-field-flex {
      padding-left: 16px;
      min-height: 44px;

      div.mat-form-field-infix {
        padding: 1.6px 0 8px 0;

        .mat-form-field-label {
          top: 19px;
        }
      }
    }

    &.mat-form-field-can-float.mat-form-field-should-float {
      label.mat-form-field-label {
        transform: translateY(-17px) scale(0.75);
      }
    }
  }

  .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid {
    .mat-form-field-outline-thick {

      .mat-form-field-outline-gap,
      .mat-form-field-outline-end,
      .mat-form-field-outline-start {
        border-color: $vanilla-color-grey7;
        border-width: 1px;
        border-bottom-color: $vanilla-color-darkred1;
        border-bottom-width: 2px;
      }
    }

    &.mat-focused {
      .mat-form-field-outline-thick {
        .mat-form-field-outline-gap {
          border-top-width: 0;
        }
      }
    }
  }
}
