body {

  .mat-form-field-appearance-outline{
    .mat-form-field-flex{
      padding-left: 16px;
    }
  }

  .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid
   {
     .mat-form-field-outline-thick {
        .mat-form-field-outline-gap, .mat-form-field-outline-end, .mat-form-field-outline-start{
          border-color: $vanilla-color-grey7;
          border-width: 1px;
          border-bottom-color: $vanilla-color-darkred1;
          border-bottom-width: 2px;
      }
    }
    &.mat-focused {
      .mat-form-field-outline-thick {
        .mat-form-field-outline-gap {
          border-top-width: 0;
        }
      }
    }
  }
}
