# See http://help.github.com/ignore-files/ for more about ignoring files.

# VS code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# compiled output
/dist
/tmp
/out-tsc
/projects/seb-ng-material-theme/README.md
/projects/seb-ng-material-theme/LICENSE.md
/projects/seb-ng-material-theme/seb-mat-theme.css
/projects/seb-ng-material-theme/seb-mat-theme.css.map
/projects/seb-ng-material-theme/assets/fonts/

# dependencies
/node_modules

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db