no-proxy=.sebank.se
strict-ssl=false
HTTP_PROXY=http://gia.sebank.se:8080

registry=https://repo.sebank.se/artifactory/api/npm/seb-npm/
@sebdesignlibrary:registry=https://repo.sebank.se/artifactory/api/npm/DesignLibrary-release
@seb-style:registry=https://repo.sebank.se/artifactory/api/npm/seb-npm

sass_binary_site= https://repo.sebank.se/artifactory/github-releases/sass/node-sass/releases/download
SASS_BINARY_SITE= https://repo.sebank.se/artifactory/github-releases/sass/node-sass/releases/download
