
<app-markdown-viewer [path]="'readme/README.md'" ></app-markdown-viewer>

<mat-card>
  <mat-card-title>Buttons</mat-card-title>
  <button mat-raised-button color="primary">Primary Button</button>
  <button mat-raised-button>Basic</button>
  <button mat-raised-button color="accent">Accent</button>
  <button mat-raised-button color="warn">Warn</button>
  <button mat-raised-button color="secondary">Secondary Button</button>
  <button mat-raised-button color="secondary" disabled>Secondary Button</button>
</mat-card>

<app-input-textarea-demo></app-input-textarea-demo>
<app-collapse-demo></app-collapse-demo>
<app-snackbar-demo></app-snackbar-demo>
<app-tooltip-demo></app-tooltip-demo>
<app-tabs-demo></app-tabs-demo>
