<mat-card>
  <mat-card-header>
    <mat-card-title>Badges</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      <span matBadge="4" matBadgeOverlap="false" matBadgeColor="primary">Text with a badge</span>
    </p>

    <p>
      Button with a badge on the left
      <button mat-raised-button color="primary" matBadge="8" matBadgePosition="before" matBadgeColor="warn">
        Action
      </button>
    </p>

    <p>
      Button with a badge on the right
      <button mat-raised-button matBadge="8" matBadgePosition="after">
        Action
      </button>
    </p>
  </mat-card-content>
</mat-card>
