app-root {

  .view {
    padding-top: 60px;
    background-color: #fff;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
  }

  main {
    display: block;
  }

  app-header {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }

  app-footer {
    bottom: 0;
  }

}
