<app-header></app-header>
<div class="view">
  <div class="brch-container">
    <main>
      <mat-expansion-panel class="no-seb-borders">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h4>README</h4>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-markdown-viewer [path]="'readme/README.md'"></app-markdown-viewer>
      </mat-expansion-panel>
      <br />
      <div class="navigation">
        <a mat-button [routerLink]="'buttons'">Buttons</a>
        <a mat-button [routerLink]="'buttonToggle'">Toggle Buttons</a>
        <a mat-button [routerLink]="'inputs'">Inputs</a>
        <a mat-button [routerLink]="'expansionPanel'">Expansion Panel</a>
        <a mat-button [routerLink]="'overlay'">Overlay</a>
        <a mat-button [routerLink]="'dialog'">Dialog</a>
        <a mat-button [routerLink]="'tabs'">Tabs</a>
        <a mat-button [routerLink]="'tooltip'">Tooltip</a>
        <a mat-button [routerLink]="'badge'">Badge</a>
        <a mat-button [routerLink]="'chip'">Chip</a>
        <a mat-button [routerLink]="'table'">Table</a>
      </div>
      <br />
      <router-outlet></router-outlet>
      <br />
    </main>
  </div>
</div>
<app-footer></app-footer>
