<mat-card>
  <mat-card-header>
    <mat-card-title>SEB Style form</mat-card-title>
    <mat-card-subtitle>With &lt;mat-form-field appearance=&quot;outline&quot;&gt;
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div>
      <strong>Name</strong>
    </div>
    <mat-form-field appearance="outline">
      <input type="text" matInput>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
    <br />
    <mat-form-field appearance="outline">
      <mat-select placeholder="Select">
        <mat-option value="option">Option</mat-option>
        <mat-option value="option1">Option1</mat-option>
        <mat-option value="option2">Option2</mat-option>
      </mat-select>
    </mat-form-field>
    <form class="example-form" [formGroup]="exampleForm">
      <div>
        <strong>Email</strong>
      </div>
      <mat-form-field appearance="outline">
        <input matInput placeholder="Email" formControlName="exampleField">
        <mat-hint>Errors appear instantly!</mat-hint>
        <mat-error *ngIf="exampleForm.get('exampleField').hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Other examples:</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>

      <mat-label>Form field</mat-label>
      <input type="text" matInput aria-label="Field label" placeholder="Placeholder">
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
    <form class="example-form" [formGroup]="exampleForm">
      <mat-form-field appearance="outline">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Email" formControlName="exampleField">
        <mat-hint>Errors appear instantly!</mat-hint>
        <mat-error *ngIf="exampleForm.get('exampleField').hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-header>
    <mat-card-title>Datepicker</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </mat-card-content>

  <mat-card-header>
    <mat-card-title>Textarea</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <textarea matInput placeholder="Textarea"></textarea>
    </mat-form-field>
    <br />
    <mat-form-field appearance="outline">
      <textarea matInput placeholder="Textarea outlined"></textarea>
    </mat-form-field>
  </mat-card-content>

  <mat-card-header>
    <mat-card-title>Select</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <mat-select placeholder="Select">
        <mat-option value="option">Option</mat-option>
        <mat-option value="option1">Option1</mat-option>
        <mat-option value="option2">Option2</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>

  <mat-form-field appearance="standard">
    <mat-label>Standard form field</mat-label>
    <input matInput placeholder="Placeholder">
    <mat-icon matSuffix>home</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
  <br />

  <mat-form-field appearance="outline">
    <mat-label>Outline form field</mat-label>
    <input matInput placeholder="Placeholder">
    <mat-icon matSuffix>home</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>

  <br />

  <mat-card-actions>
    <a href="https://material.angular.io/components/form-field/overview" mat-button target="_blank">
      More examples
    </a>
  </mat-card-actions>
</mat-card>
