<h2>Inputs</h2>

<mat-card>
  <mat-card-header>
    <mat-card-title>SEB Style form</mat-card-title>
    <mat-card-subtitle>With &lt;mat-form-field appearance=&quot;outline&quot;&gt;
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div>
      <strong>Name</strong>
    </div>
    <mat-form-field appearance="outline">
      <input type="text" matInput>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
    <br />
    <mat-form-field appearance="outline">
      <mat-select placeholder="Select">
        <mat-option value="option">Option</mat-option>
        <mat-option value="option1">Option1</mat-option>
        <mat-option value="option2">Option2</mat-option>
      </mat-select>
    </mat-form-field>
    <form class="example-form" [formGroup]="exampleForm">
      <div>
        <strong>Email</strong>
      </div>
      <mat-form-field appearance="outline">
        <input matInput placeholder="Email" formControlName="exampleField">
        <mat-hint>Errors appear instantly!</mat-hint>
        <mat-error *ngIf="exampleForm.get('exampleField').hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Other examples:</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>

      <mat-label>Form field</mat-label>
      <input type="text" matInput aria-label="Field label" placeholder="Placeholder">
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
    <form class="example-form" [formGroup]="exampleForm">
      <mat-form-field appearance="outline">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Email" formControlName="exampleField">
        <mat-hint>Errors appear instantly!</mat-hint>
        <mat-error *ngIf="exampleForm.get('exampleField').hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-header>
    <mat-card-title>Datepicker with disabled dates</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field appearance="outline">
      <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </mat-card-content>

  <mat-card-header>
    <mat-card-title>Datepicker</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field appearance="outline">
      <input matInput [matDatepicker]="myPicker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="myPicker"></mat-datepicker-toggle>
      <mat-datepicker #myPicker></mat-datepicker>
    </mat-form-field>
  </mat-card-content>

  <mat-card-header>
    <mat-card-title>Textarea</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <textarea matInput placeholder="Textarea"></textarea>
    </mat-form-field>
    <br />
    <mat-form-field appearance="outline">
      <textarea matInput placeholder="Textarea outlined"></textarea>
    </mat-form-field>
  </mat-card-content>

  <mat-card-header>
    <mat-card-title>Select</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <mat-select placeholder="Select">
        <mat-option value="option">Option</mat-option>
        <mat-option value="option1">Option1</mat-option>
        <mat-option value="option2">Option2</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>

  <mat-form-field appearance="standard">
    <mat-label>Standard form field</mat-label>
    <input matInput placeholder="Placeholder">
    <mat-icon matSuffix fontIcon="fa-home"></mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
  <br />

  <mat-form-field appearance="outline">
    <mat-label>Outline form field</mat-label>
    <input matInput placeholder="Placeholder">
    <mat-icon matSuffix fontIcon="fa-home"></mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>

  <mat-card-header>
    <mat-card-title>Toggles</mat-card-title>
    <mat-card-subtitle>With [disableRipple]=&quot;true&quot;</mat-card-subtitle>
  </mat-card-header>
  <mat-checkbox [disableRipple]="true">Check me!</mat-checkbox>

  <br />

  <mat-slide-toggle [disableRipple]="true">Slide me!</mat-slide-toggle>

  <mat-card-actions>
    <a href="https://material.angular.io/components/form-field/overview" mat-button target="_blank">
      More examples
    </a>
  </mat-card-actions>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Checkboxes</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>
      <mat-checkbox [disableRipple]="true">I'm active</mat-checkbox>
      <mat-checkbox [disabled]="true" [disableRipple]="true">I'm disabled</mat-checkbox>
    </div>
    <br />
    <form [formGroup]="checkboxForm" novalidate>
      <mat-checkbox formControlName="terms" [disableRipple]="true">I agree to the terms and conditions</mat-checkbox>
      <mat-error *ngIf="checkboxForm.get('terms').hasError('required')">
        You must agree to the terms to proceed
      </mat-error>
    </form>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Radio button groups</mat-card-title>
    <mat-card-subtitle> 'mat-radio-group' with either 'inline-flex' or 'inline-grid' classes (depending on which of the
      layouts you choose to use)</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-radio-group aria-label="Select an option">
      <mat-radio-button [disableRipple]="true" value="1">Option 1</mat-radio-button>
      <mat-radio-button [disabled]="true" [disableRipple]="true" value="2">Option 2</mat-radio-button>
    </mat-radio-group>
    <br />
    <br />
    <form [formGroup]="inlineRadioForm" novalidate>
      <mat-radio-group class="inline-flex" formControlName="type"
        [ngClass]="{ 'group-invalid': inlineRadioForm.invalid }">
        <mat-radio-button value="private">Private</mat-radio-button>
        <mat-radio-button value="corporate">Corporate</mat-radio-button>
      </mat-radio-group>
      <mat-error *ngIf="inlineRadioForm.get('type').hasError('required')">
        Select one of the options
      </mat-error>
    </form>
    <br />
    <form [formGroup]="listRadioForm" novalidate>
      <mat-radio-group class="inline-grid" formControlName="longOption"
        [ngClass]="{ 'group-invalid': listRadioForm.invalid }">
        <mat-radio-button value="long option">A very long option</mat-radio-button>
        <mat-radio-button value="even longer option">And an even longer option</mat-radio-button>
      </mat-radio-group>
      <mat-error *ngIf="listRadioForm.get('longOption').hasError('required')">
        Select one of the options
      </mat-error>
    </form>
  </mat-card-content>
</mat-card>
