<mat-card>
  <mat-card-title>Text input</mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <input type="text" matInput aria-label="Field label" placeholder="Input field">
    </mat-form-field>
  </mat-card-content>

    <mat-card-title>Textarea</mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <textarea matInput placeholder="Textarea"></textarea>
      </mat-form-field>
    </mat-card-content>

    <div><a href="https://material.angular.io/components/form-field/overview" target="_blank">More examples</a></div>
</mat-card>
