<mat-card>
  <mat-card-header>
    <mat-card-title>Button toggle</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-slide-toggle class="no-seb-style">class="no-seb-style"</mat-slide-toggle>
    <br />
    <hr>
    <mat-slide-toggle [(ngModel)]="isDisabled">Disabled</mat-slide-toggle>
    <br /><br />
    <p>SEB style: color=&quot;primary&quot; </p>
    <mat-button-toggle-group disabled="{{isDisabled}}" color="primary" value="item-2">
      <mat-button-toggle value="item-1">
        Item 1
      </mat-button-toggle>
      <mat-button-toggle value="item-2">
        Item 2
      </mat-button-toggle>
    </mat-button-toggle-group>
    <br /><br />
    <mat-button-toggle-group disabled="{{isDisabled}}" color="primary" value="item-3">
      <mat-button-toggle value="item-1">
        Item 1
      </mat-button-toggle>
      <mat-button-toggle value="item-2">
        Item 2
      </mat-button-toggle>
      <mat-button-toggle value="item-3">
        Item 3
      </mat-button-toggle>
    </mat-button-toggle-group>
    <br /><br />
    <mat-button-toggle-group disabled="{{isDisabled}}" color="primary" value="item-1">
      <mat-button-toggle value="item-1">
        Item 1
      </mat-button-toggle>
      <mat-button-toggle value="item-2">
        Item 2
      </mat-button-toggle>
      <mat-button-toggle value="item-3">
        Item 3
      </mat-button-toggle>
      <mat-button-toggle value="item-3">
        Item 4
      </mat-button-toggle>
      <mat-button-toggle value="item-4">
        Item 5
      </mat-button-toggle>
    </mat-button-toggle-group>
  </mat-card-content>
  <mat-card-content>
    <p>Standard style</p>
    <mat-button-toggle-group disabled="{{isDisabled}}" value="item-2">
      <mat-button-toggle value="item-1">
        Item 1
      </mat-button-toggle>
      <mat-button-toggle value="item-2">
        Item 2
      </mat-button-toggle>
      <mat-button-toggle value="item-3">
        Item 3
      </mat-button-toggle>
    </mat-button-toggle-group>
  </mat-card-content>
  <mat-card-actions>
    <a href="https://material.angular.io/components/button-toggle/overview" mat-button target="_blank">More examples</a>
  </mat-card-actions>
</mat-card>
