@import '../colors';
@import '../typography';

.seb-color
{
  $_gap: 1rem;

  display: inline-block;
  margin: $_gap;
  padding: $_gap;
  width: 150px;
  height: 150px;
  box-sizing: border-box;
  text-align: center;
  font-family: $sebvi-font-fallback;
  font-weight: bold;
  color: $sebvi-color-white;

  &.green { background-color: $sebvi-color-green; }
  &.darkgreen1 { background-color: $sebvi-color-darkgreen1; }
  &.darkgreen2 { background-color: $sebvi-color-darkgreen2; }

  &.yellow { background-color: $sebvi-color-yellow; }
  &.darkyellow1 { background-color: $sebvi-color-darkyellow1; }
  &.darkyellow2 { background-color: $sebvi-color-darkyellow2; }

  &.purple { background-color: $sebvi-color-purple; }
  &.darkpurple1 { background-color: $sebvi-color-darkpurple1; }
  &.darkpurple2 { background-color: $sebvi-color-darkpurple2; }

  &.red { background-color: $sebvi-color-red; }
  &.darkred1 { background-color: $sebvi-color-darkred1; }
  &.darkred2 { background-color: $sebvi-color-darkred2; }

  &.blue { background-color: $sebvi-color-blue; }
  &.darkblue1 { background-color: $sebvi-color-darkblue1; }
  &.darkblue2 { background-color: $sebvi-color-darkblue2; }

  &.grey1 { background-color: $sebvi-color-grey1; }
  &.grey2 { background-color: $sebvi-color-grey2; }
  &.grey3 { background-color: $sebvi-color-grey3; }
  &.grey4 { background-color: $sebvi-color-grey4; }
  &.grey5 { background-color: $sebvi-color-grey5; }
  &.grey6 { background-color: $sebvi-color-grey6; color: $sebvi-color-black; }
  &.grey7 { background-color: $sebvi-color-grey7; color: $sebvi-color-black; }
  &.grey8 { background-color: $sebvi-color-grey8; color: $sebvi-color-black; }
  &.grey9 { background-color: $sebvi-color-grey9; color: $sebvi-color-black; }
}