@import 'visual-identity/src/typography';

$seb-typography: mat-typography-config(
  $font-family: 'SEBSansSerif',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);
