@import '../../node_modules/@sebgroup/fonts/scss/variables';

// For fonts to load, we need to change path to be relative to project root.
$seb-font-path: '../../node_modules/@sebgroup/fonts/fonts';

@import '../../node_modules/@sebgroup/fonts/scss/path';

$seb-typography: mat-typography-config($font-family: 'SEBSansSerif',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500));
