<mat-card>
  <mat-card-header>
    <mat-card-title>Snackbar</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>For SEB snackbar set 'panelClass' option to: 'sebSuccessSnackbar', 'sebWarnSnackbar',
      'sebErrorSnackbar'</p>
    <button mat-button color="primary" (click)="openSnackBar()" aria-label="buttonForSnackBar">
      Show SEB snackbar
    </button>
    <button mat-button color="primary" (click)="openSnackBar('sebSuccessSnackbar')"
      aria-label="Show an example snack-bar">
      Show SEB Success snackbar
    </button>
    <button mat-button color="primary" (click)="openSnackBar('sebWarnSnackbar')" aria-label="Show an example snack-bar">
      Show SEB Warning snackbar
    </button>
    <button mat-button color="primary" (click)="openSnackBar('sebErrorSnackbar')"
      aria-label="Show an example snack-bar">
      Show SEB Error snackbar
    </button>

    <br />
    <p>Simple material snackbar ('panelClass': 'no-seb-style'):</p>
    <button mat-button color="primary" (click)="openSnackBar('no-seb-style')" aria-label="Show an example snack-bar">
      Show material snackbar
    </button>
  </mat-card-content>
  <mat-card-actions>
    <a href="https://material.angular.io/components/snack-bar/overview" mat-button target="_blank">More examples</a>
  </mat-card-actions>
</mat-card>
<mat-card>
  <mat-card-header>
    <mat-card-title>Bottom Sheet</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <button mat-button color="primary" (click)="openBottomSheet()" aria-label="buttonForBottomSheet">
      Show bottom sheet
    </button>
  </mat-card-content>
  <mat-card-actions>
    <a href="https://material.angular.io/components/bottom-sheet/overview" mat-button target="_blank">More examples</a>
  </mat-card-actions>
</mat-card>
